name: Reusable Workflow Node Setup

on:
    workflow_call:

jobs:
    setup:
        name: "[Setup]"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: "[Use node 20.x]"
              uses: actions/setup-node@v2
              with:
                  node-version: 20.x
                  cache: "yarn"

            - name: "[Get yarn cache directory path]"
              id: yarn-cache-dir-path
              run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

            - name: "[Cache yarn directory]"
              id: cache-yarn-cache
              uses: actions/cache@v2
              with:
                  path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-
            - name: "[Cache node modules]"
              id: cache-node-modules
              uses: actions/cache@v2
              with:
                  path: node_modules
                  key: ${{ runner.os }}-nodemodules-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-nodemodules-
            - name: "[Install dependencies]"
              if: steps.cache-yarn-cache.outputs.cache-hit != 'true' || steps.cache-node-modules.outputs.cache-hit != 'true'
              run: yarn install
